.about-container {
  padding: 50px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.about-page h2 {
  font-size: 32px;
  color: #333;
}

.about-page p {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
}

.button {
  background-color: #f0c14b; 
  color: #000; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #d89e00;
}